/* animation and setup for hamburger icon */
/* link: https://w3bits.com/animated-menu-icon-css/ */
.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all 250ms ease-in-out;
}

.nav-icon:hover div,
.nav-icon:hover:after,
.nav-icon:hover:before {
  transition: all 400ms ease-in-out;
  transform: scaleX(0.75) rotate(180deg);
}
th {
  padding: 0.75rem;
}
td {
  padding: 0.5rem;
}
.bottom-nav {
  display: none;
}

.w-big { width: 100%;}
.w-small { width: 5%; }

@media screen and (max-width: 1000px) {
  .side-nav {
    display: none;
  }
  .dash {
    width: 100%;
  }
  .bottom-nav {
    display: block;
  }
}